extends ../partials/layout

block contenthead
    style.
            form{
                text-align : center;
                font-weight : bold;
            }

block content

    // 로그인 form
    form(method='post' action='/auth/log')
        br
        br
        br
        label(for='id') &nbsp; &nbsp; 아이디: &nbsp;
        input#name(type='text', placeholder='id' name='id')
        br
        br
        label(for='password') 비밀번호: &nbsp;
        input#password(type='password' name='password')
        br
        br
        button.btn.btn-info(type='submit') 로그인
        br
        br
        br
        br