
head
    style(type='text/css').
        #logo {   
        line-height: 200px; 
        background:#FFF; 
        text-align: center; 
        color: #282828; 
        }

body
    #logo 
        div
            .home
                img(src='https://ifh.cc/g/cE4Gy.png' width='700' height='380' art='LOGOimage')

        
