
head
    style(type='text/css').
        #logo {   
        line-height: 200px; 
        background:#FFF; 
        text-align: center; 
        color: #282828; 
        }

body
    #logo 
        div
            .home
 
                img(src='https://ifh.cc/g/z4mhl.png' width='650' height='400' art='LOGOimage')

        
