extends ../partials/layout

block contenthead
    style.

        form {
            text-align : center;
            font-weight: bold; 
            width : 200px;
            float : none; 
            margin : 0 auto;
        }

block content
    form(action="/fix_account"+account._id method='post')
        fieldset
            br
            br
            div
                label(for="accountnumber") 계좌번호
                input#accountnumber(type="text" value=account.accountnumber  name="accountnumber")
            br
            div
                label(for="accountadmin") 예금주명
                input#accountadmin(type="text" value=account.accountadmin name="accountadmin")
            br
            div
                label(for="accountbank") 계좌은행
                input#accountbank(type="text" value=account.accountbank name="accountbank")
            br
            div
                label(for="adminplace") 관리자 위치
                input#adminplace(type="text" value=account.adminplace name="adminplace")
            br
            div
                button.btn.btn-secondary(type='submit') 올리기
            br