extends ../partials/layout

block contenthead
    style.
        .font_big{font-size: 2em; }
        .font_italic {font-style: italic; }
        .font_bold{font-weight: bold; }
        .font_center{text-align: center; }
        .font_family{font-family: Georgia, serif; }
        h1{
            text-shadow: 5px 5px 5px gray;
        }
        h2{
            text-shadow: 5px 5px 5px gray;
        }
        p{
            font-size: 17px;
            line-height: 180%
        }
        .manual{
            font-size: 16.5px;
            line-height: 200%
        }

block content
    br
    br
    div
        h1.font_big.font_family.font_italic.font_bold.font_center.box ph-1

    div
        p.font_arial.font_center ph-1은 명지대학교 인쇄실 예약 서비스입니다.
    br

    div
        h2.font_big.font_family.font_italic.font_bold.font_center.box Manual

    div
       p.manual
        |1. 비회원이면 sign up 창에 들어가 회원가입을 합니다.
        br
        |2. 이미 회원이라면 log in을 합니다.
        br
        |3. 상단 바의 print 버튼을 눌러 원하는 인쇄실을 선택합니다.
        br
        |4. 인쇄물 예약하기 버튼을 누른 후 프린트 옵션과 파일을 선택합니다.
        br
        |5. submit 버튼을 누른 후, 표시 된 최종 금액을 계좌에 송금합니다.
        br
        |6. 송금이 완료 되었다면 ‘결제완료’ 버튼을 누릅니다.

    br
    br
    br