extends ../partials/layout
block contenthead
    style.
        div a{
            text-align : center;
            width : 200px;
        }

block content
    .row 
        //글 위치 배정
        .col-xs-7.col-md-5
        div
            br
            br
            a.btn.btn-outline-dark(href='/posts/new') 인쇄물 예약하기 
            br
            a.btn.btn-outline-dark(href='/posts/board') 예약 현황보기 
    br
    br 