extends ../partials/layout

block contenthead
    script(src="/routes/docs.js")
    style.

        th{
            font-size: 16px;
            padding:4px;
            line-height: 35px;
        }
        .table.table-sm{
            width : 700px;
            margin : auto;
            text-align : center;
            font-family: "Nanum Gothic", sans-serif;
            font-size: 14px;
            font-weight: 600;
            padding:8px;
            line-height: 50px;
        }


block content
    br
    table.table.table-sm
        thead.thead-light
            tr
            th(scope='col') NO.
            th(scope='col') 흑백/컬러
            th(scope='col') 가로/세로
            th(scope='col') 양면/단면
            th(scope='col') 수령시간
            th(scope='col') 요청사항
            th(scope='col') 수정
            if (user.permission == 1)
                th(scope='col') 인쇄완료
                th(scope='col') 수령완료
                th(scope='col') 삭제
            


        tbody
        each d, num in docs
            tr
            td(scope="row")=num+1
                if d.colorchoice=="color" 
                    td 컬러
                else
                    td 흑백
                if d.sidechoice=="height"
                    td 세로
                else
                    td 가로
                if d.directionchoice=="one_side"
                    td 단면
                else
                    td 양면
                    
                td=d.time_frop
                td=d.content
                td
                    a(href='/docs/board/'+d._id)  ✎ 
                //✍ 뭐가 더 예쁜지 봐주쎄용
                // 권한이 1 이면 ( admin) 버튼 생성 
                if (user.permission == 1)
                    td 
                        input(type="checkbox")
                    // 수령완료 버튼
                    td
                        input(type="checkbox")
                    // 삭제 버튼
                    td 
                        a(href='/docs/delete/'+d._id) 삭제
    br
    
