extends ../partials/layout

block contenthead
    script(src="/routes/docs.js")


block content
    h1= arr_doc
    table
        thead
            tr
                th 내용
        tbody       
            each d in docs
                tr
                    td=d.title
                    td=d.content
                    if d.colorchoice=="color" 
                        td 컬러
                    else
                        td 흑백
                    if d.sidechoice=="height"
                        td 세로
                    else
                        td 가로
                    if d.directionchoice=="one_side"
                        td 단면
                    else
                        td 양면
                    td=d.time_frop
