extends ../partials/layout
block contenthead
    script(src="/routes/booklookup.js")
    style.

        form {
            text-align : center;
            font-weight: bold; 
            width : 200px;
            float : none; 
            margin : 0 auto;
        }

block content
    .add
        form(action="/booklookup" method='post')
            fieldset
                br
                br
                div
                label(for='place') 인쇄실 
                    select#place(name='place')
                        option(value='5공학관' selected='') 5공학관
                        option(value='명진당') 명진당
                br
                div
                    label(for="title") 책 제목&nbsp;
                    input#title(type="text" name="title")
                br
                div    
                    label(for="professor") 교수명&nbsp;
                    input#professor(type="text" name="professor")
                br
                div
                    label(for="price") 가격&nbsp;
                    input#price(type="text" name="price")
                br
                div 
                    label(for="stock") 개수&nbsp;
                    input#stock(type="text" name="stock")
                br
                div
                    button.btn.btn-secondary(type="submit") 제본등록
                br